<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Малюська бложег</title>
    {%else %}
    <title>Добро пожаловать в Малюску бложег!</title>
    {% endif %}
</head>
<body>
    <div>Малюська бложег:
        <a href="{{ url_for('index') }}">Домой</a>
        <a href="{{ url_for('login') }}">Вход</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>